<!doctype html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}

    <!-- main section -->
    <section class="container-fluid main-section">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 right-section">
                        <figure>
                            <img src="./images/about.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 left-section">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span>Mean stack developer</span> and a freelancer</h1>
                        <a href="#"><button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
     {{>footer}}
</body>

</html>